<nav class="navbar navbar-expand-lg nav-crev" [class.nav-scroll]>
    <div class="container">
            <div class="nav-button ms-auto xs-ml-0 xs-mt-20">
              <ul class="nav navbar-nav navbar-right">
                <li>
                  <a routerLink="/">
                    <button type="button" class="btn btn-lg btn-gradient-primary btn-circle">
                      Inicio
                    </button>
                  </a>
                   <a routerLink="/episodios">
                    <button type="button" class="btn btn-lg btn-gradient-primary btn-circle">
                      episodios
                    </button>
                  </a>
                </li>
              </ul>
            </div>
        </div>
</nav>
